<div id="<%= dom_id diary_entry %>">
  <p>
    <strong>Title:</strong>
    <%= diary_entry.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= diary_entry.content %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= diary_entry.date %>
  </p>

</div>
